<h1>TITLE CASING</h1>
<form action="/casing" method="post">
  <label for="casing">Enter a Title</label>
  <input type="text" name="casing" id="casing" placeholder="Enter Title">
  <button type="submit" name="button">send</button>
</form>
